nav {
  box-shadow: 5px 0px 8px 1px #888888;
  position: fixed !important;
  width: 100%;
  z-index: 11;
  background-color: #fff;
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .navbar-nav {
    margin-right: 40% !important;
  }
  .navbar {
    height: 85.74px;
  }
  .logo {
    width: 230px;
  }
  .nav-item {
    font-size: 1.3rem;
  }
}

.navbar-margin {
  height: 91.74px;
}

.table-bar-up {
  position: fixed;
	z-index: 11;
	top: 26px !important;
	right: 11px;
}

.table-bar-container {
	position: fixed;
	z-index: 11;
	top: 60px;
	right: 11px;
  .tableBar {
  	font-family: Microsoft JhengHei;
  	border-radius: 0;
  	margin-top: 10px;
  }
  .leftBar {
  	background: #ffffff;
  	letter-spacing: 2px;
  	padding: 15px 35px;
  	box-shadow: 0 0 20px 2px hsla(0,0%,64%,.2);
    .leftbarColor{
        color: hsla(0,0%,7%,.65);
        font-family: Microsoft JhengHei;
    }
  }
  .rightBar {
    background: #0066cc;
    letter-spacing: 2px;
    padding: 10px 35px;
    box-shadow: 0 0 20px 2px hsla(0,0%,64%,.2);
    .rightbarColor {
      color: #fff !important;
      padding: 0;
      font-family: Microsoft JhengHei;
    }
  }
}

// //video images
.banner {
  .banner-image {
    height: calc(100vh);
    width: 100%;
  }
  #content {
    font-family: Microsoft JhengHei;
    text-align: left;
    color: #eee;
    text-shadow: 0px 2.5px 3px grey;
    position: absolute;
    bottom: 0;
    left: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
  .安居樂業 {
    font-weight: 700;
    font-size: 3em;
  }
  .description1 {
    font-size: 1.2em;
  }
  #h4 {
    font-size: 1rem;
  }
  .content-underline {
      height: 12px;
      border: 0;
      box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 2);
      margin-right: 0%;
      margin-top: 10px;
  }
  .videoButton {
    font-size: 1.2em;
    padding-top: 5px;
    float: left;
    #myStory {
      text-decoration: none;
    }
    .myStory {
      border: 3px solid #eee;
      padding: 10px 20px;
      font-size: 15px;
      color: #eee;
      &:hover {
        background-color: #eee;
        color: #666;
        font-weight: 900;
        transition: 0.5s ease-in-out;
      }
    }
  }
}

//scroll arrow
.demo a {
  position: absolute;
  bottom: 0px;
  left: 47%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.arrow-none {
  opacity: 0;
  transition: 0.8s ease-in-out;
}
#section01 a:hover {
  opacity: 0.3;
}
#section01 a {
  padding-top: 40px;
  color: #fff;
  opacity: 0.6;
}
#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

// //area section
.section2 {
	height: 570px;
	position: relative;
	z-index: 10;
  .item {
  	width: 20%;
  	background-repeat: no-repeat;
  	background-size: cover;
  	float: left;
  	height: 570px;
  	transition: 0.35s ease-in-out;
    .title {
    	font-family: Microsoft JhengHei;
    	font-size: 2em;
    	font-weight: 800;
    	color: #333333;
    	padding-left: 10px;
    }
    .s_intro {
    	transition: 0.3s ease-in-out;
    	user-select: none;
    	opacity: 0;
    }
  }
}


//目標與理念
.整體目標與理念 {
  	background-color: #404040;
  	height: 530px !important;
    .目標與理念 {
    	font-family: Microsoft JhengHei;
    	color: #fff;
    	font-size: 3rem;
    	font-weight: 800;
    	margin: 0% 5% 1% 5%;
    	padding-top: 4%;
    }
    .目標與理念-underline {
    	border:0;
        margin:0;
        width: 50%;
        height: 2px;
        background: #ddd;
        box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 0.5);
    }
    .目標與理念排 {
    	padding-top: 4%;
    	padding-left: 3%;
      a:hover, a:visited, a:link, a:active
      {
          text-decoration: none;
          color: #404040;
      }
      .目標與理念區 {
      	background: #f2f2f2;
      	padding: 1% 4.5% 1% 4.5%;
      	margin: 1.6% 1%;
      	font-family: Microsoft JhengHei;
      	font-weight: 800;
      	color: #595959;
        &:hover {
        	background: #000066;
        	color: #fff;
        	border: 1px solid #000066;
        	transition: 0.8s ease-in-out;
        	transform: scale(1.05);
      }
    }
      .fas {
        width: 100%;
        font-size: 3.4rem;
        padding-bottom: 5px;
      }
      .fa-gg {
        width: 100%;
        font-size: 3.6rem;
      }
      .fa-handshake {
        width: 100%;
        font-size: 3.5rem;
      }
    }
  }

  .main-footer {
  	background-color: black;
    .footer-logo {
    	margin-left: 1.5%;
      .logo-size {
      	width: 20%;
      }
    }
    .menu-wrapper {
    	font-size: 1.3rem;
    .connectUs {
    	color: #fff;
    	font-family: Microsoft JhengHei;
    	font-weight: 800;
    	margin-left: 15%;
    	font-size: 1.5rem;
    }
    .socialmediaIcon {
    	margin-left: 15%;
      .fa-facebook {
      	width: 12%;
      	display: inline-block;
      	color: #ddd
      }

      .fa-instagram {
      	width: 12%;
      	display: inline-block;
      	color: #ddd;
      }

      .fa-youtube {
      	width: 12%;
      	display: inline-block;
      	color: #ddd;
      }
    }
    .navigation {
    	list-style-type: none;
    	color: #fff;
    	font-family: Microsoft JhengHei;
    	font-weight: 500;
        .navigationContent {
      	color: #fff;
          &.navigationContent:hover {
          color: #bfbfbf;
          text-decoration: none;
        }
      }
    }
    .constructionSite {
    	list-style-type: none;
    	color: #fff;
    	font-family: Microsoft JhengHei;
    	font-weight: 800;
      .siteAddress {
      	font-size: 0.8rem;
      	color: #ddd;
      	font-family: Microsoft JhengHei;
      }
    }
    .phoneNumber {
    	list-style-type: none;
    	color: #fff;
    	font-family: Microsoft JhengHei;
    	font-weight: 800;
      .number {
      	font-size: 0.8rem;
      	color: #ddd;
      	font-family: Microsoft JhengHei;
      }
    }
    .officeHour {
    	list-style-type: none;
    	color: #fff;
    	font-family: Microsoft JhengHei;
    	font-weight: 800;
      .time {
      	font-size: 0.8rem;
      	color: #ddd;
      	font-family: Microsoft JhengHei;
      }
    }
    }
    .footer-underline {
        height: 5px;
        border: 0;
        box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 2);
    }
    .copyright {
    	color: #fff;
    	font-size: 1rem;
    }
  }




@media only screen and (max-width: 812px) and (orientation: landscape) {
  .footer-logo {
    margin-left: 1.5%;
    .logo-size {
      width: 30% !important;
    }
  }
  .connectUs {
    margin-left: 15% !important;
  }
  .area-bg {
    height: calc(70vh) !important;
  }
  .地區mobile {
    left: 80px !important;
  }
  .特色瀏覽 {
    margin-left: 75% !important;
  }
  .socialmediaIcon {
    margin-left: 8% !important;
    .fa-facebook {
      padding: 0px 13px;
    }
    .fa-instagram {
      padding: 0px 13px;
    }
    .fa-youtube {
      padding: 0px 13px;
    }
  }
}

@media only screen
  and (max-device-width: 812px)
  {
    .建案地區title-mobile {
      position: relative;
      z-index: 1;
      font-family: Microsoft JhengHei;
      font-size: 2.3rem;
      font-weight: 800;
      color: #404040;
      margin: 1.5% 5% 1% 5%;
      text-shadow: 0px 2px 3px #404040;
    }
    .area-underline {
      border:0;
      width: 70%;
      height: 2.5px;
      margin-left: 4.5%;
      margin-top: 1%;
      background: #333333;
      box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 0.5);
      position: relative;
    }
    .area-bg {
      position: relative;
      height: calc(45vh);
      width: calc(90vw);
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: auto;
      margin-right: auto;
      display: table-cell;
      vertical-align: middle;
      margin-top: 20px;
      opacity: 0.9;
      box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    }
    .建案地區mobile {
      position: relative;
    }
    .地區mobile {
      position: absolute;
      z-index: 10;
      bottom: 30px;
      left: 50px;
      color: #fff;
      font-size: 2.5rem;
    	font-family: Microsoft JhengHei;
      font-weight: 800;
    }
    .ul {
      list-style: none;
      margin: 20px 10px 10px 0px;
      padding-left: 20px;
      .特色 {
        font-size: 2rem;
        font-family: Microsoft JhengHei;
        font-weight: 800;
        text-shadow: 0px 2px 3px #404040;
      }
      .特色介紹 {
        font-size: 1.2rem;
        font-family: Microsoft JhengHei;
        font-weight: 800;
      }
    }
    .特色瀏覽 {
      color: #404040;
      text-decoration: none;
      margin-left: 57%;
      font-family: Microsoft JhengHei;
      font-weight: 800;
      font-size: 1rem;
      .fa-arrow-right {
        margin-left: 10px;
      }
    }
    .main-footer {
      background-color: black;
      .footer-logo {
        margin-left: 1.5%;
        .logo-size {
          width: 50%;
        }
      }
      .menu-wrapper {
        font-size: 1.3rem;
      .connectUs {
        color: #fff;
        font-family: Microsoft JhengHei;
        font-weight: 800;
        margin-left: 5%;
        font-size: 1.5rem;
      }
      .socialmediaIcon {
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        .fa-facebook {
          width: 9%;
          display: inline-block;
          color: #ddd
        }

        .fa-instagram {
          width: 9%;
          display: inline-block;
          color: #ddd;
        }

        .fa-youtube {
          width: 9%;
          display: inline-block;
          color: #ddd;
        }
      }
      .navigation {
        list-style-type: none;
        color: #fff;
        font-family: Microsoft JhengHei;
        font-weight: 500;
          .navigationContent {
          color: #fff;
            &.navigationContent:hover {
            color: #bfbfbf;
            text-decoration: none;
          }
        }
      }
      .constructionSite {
        list-style-type: none;
        color: #fff;
        font-family: Microsoft JhengHei;
        font-weight: 800;
        margin-left: 5%;
        .siteAddress {
          font-size: 0.8rem;
          color: #ddd;
          font-family: Microsoft JhengHei;
        }
      }
      .phoneNumber {
        list-style-type: none;
        color: #fff;
        font-family: Microsoft JhengHei;
        font-weight: 800;
        margin-left: 5%;
        .number {
          font-size: 0.8rem;
          color: #ddd;
          font-family: Microsoft JhengHei;
        }
      }
      .officeHour {
        list-style-type: none;
        color: #fff;
        font-family: Microsoft JhengHei;
        font-weight: 800;
        margin-left: 5%;
        .time {
          font-size: 0.8rem;
          color: #ddd;
          font-family: Microsoft JhengHei;
        }
      }
      }
      .footer-underline {
          height: 5px;
          border: 0;
          box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 2);
      }
      .copyright {
        color: #fff;
        font-size: 0.9rem;
      }
    }
}


//ipad
@media only screen and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2)
  {
    .建案地區title-mobile {
      position: relative;
      z-index: 1;
      font-family: Microsoft JhengHei;
      font-size: 3.7rem;
      font-weight: 800;
      color: #404040;
      margin: 1.5% 5% 1% 5%;
      text-shadow: 0px 2px 3px #404040;
    }
    .area-underline {
    	border:0;
      width: 60%;
      height: 2.5px;
      margin-left: 4.5%;
      margin-top: 1%;
      background: #333333;
      box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 0.5);
      position: relative;
    }
    .area-bg {
      margin-top: 30px;
      height: calc(35vh);
      width: calc(91vw);
    }
    .建案地區mobile {
      position: relative;
    }
    .地區mobile {
      position: absolute;
      z-index: 10;
      bottom: 30px;
      left: 60px;
      color: #fff;
      font-size: 3rem;
    	font-family: Microsoft JhengHei;
      font-weight: 800;
    }
    .ul {
      list-style: none;
      margin: 20px 10px 10px 0px;
      padding-left: 40px;
      .特色 {
        font-size: 2.3rem;
        font-family: Microsoft JhengHei;
        font-weight: 800;
        text-shadow: 0px 2px 3px #404040;
      }
      .特色介紹 {
        font-size: 1.5rem;
        font-family: Microsoft JhengHei;
        font-weight: 800;
      }
    }
    .特色瀏覽 {
      color: #404040;
      text-decoration: none;
      margin-left: 73%;
      font-family: Microsoft JhengHei;
      font-weight: 800;
      font-size: 1.3rem;
      .fa-arrow-right {
        margin-left: 10px;
      }
    }
    .socialmediaIcon {
      margin-left: 8% !important;
      .fa-facebook {
        padding: 0px 15px;
      }

      .fa-instagram {
        padding: 0px 15px;

      }
      .fa-youtube {
        padding: 0px 15px;
      }
    }
    .main-footer {
      background-color: black;
      .footer-logo {
        margin-left: 1.5%;
        .logo-size {
          width: 20%;
        }
      }
      .menu-wrapper {
        font-size: 1.3rem;
      .connectUs {
        color: #fff;
        font-family: Microsoft JhengHei;
        font-weight: 800;
        margin-left: 15%;
        font-size: 1.5rem;
      }
      .socialmediaIcon {
        margin-left: 15%;
        .fa-facebook {
          width: 12%;
          display: inline-block;
          color: #ddd
        }

        .fa-instagram {
          width: 12%;
          display: inline-block;
          color: #ddd;
        }

        .fa-youtube {
          width: 12%;
          display: inline-block;
          color: #ddd;
        }
      }
      .navigation {
        list-style-type: none;
        color: #fff;
        font-family: Microsoft JhengHei;
        font-weight: 500;
          .navigationContent {
          color: #fff;
            &.navigationContent:hover {
            color: #bfbfbf;
            text-decoration: none;
          }
        }
      }
      .constructionSite {
        list-style-type: none;
        color: #fff;
        font-family: Microsoft JhengHei;
        font-weight: 800;
        .siteAddress {
          font-size: 0.8rem;
          color: #ddd;
          font-family: Microsoft JhengHei;
        }
      }
      .phoneNumber {
        list-style-type: none;
        color: #fff;
        font-family: Microsoft JhengHei;
        font-weight: 800;
        .number {
          font-size: 0.8rem;
          color: #ddd;
          font-family: Microsoft JhengHei;
        }
      }
      .officeHour {
        list-style-type: none;
        color: #fff;
        font-family: Microsoft JhengHei;
        font-weight: 800;
        .time {
          font-size: 0.8rem;
          color: #ddd;
          font-family: Microsoft JhengHei;
        }
      }
      }
      .footer-underline {
          height: 5px;
          border: 0;
          box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 2);
      }
      .copyright {
        color: #fff;
        font-size: 1rem;
      }
    }
}
