footer {
  margin-top: 50px;
}
body {
  background-color: #eee;
}
.目標與理念-banner {
	background-image: url('../img/百暉首璽外觀1.jpg');
	height: calc(100vh);
	background-size: cover;
	background-position: 0% 100%;
	background-attachment: fixed;
  .目標與理念-banner標題 {
  	position: absolute;
  	z-index: 1;
  	font-family: Microsoft JhengHei;
  	font-size: 3.7rem;
  	font-weight: 800;
  	color: #fff;
  	margin-top: 370px;
  	text-shadow: 0px 2px 3px #eee;
  	padding: 10px 100px;
  	background-color: rgba(89,89,89,0.7);
    text-align: center;
  }
}



.目標與理念-container {
  .目標與理念-subbanner {
  	height: 150px;
  	background-color: #eee;
  	position: relative;
    .目標與理念標題 {
    	position: absolute;
    	z-index: 1;
    	font-family: Microsoft JhengHei;
    	font-size: 3.7rem;
    	font-weight: 800;
    	color: #404040;
    	margin: 5.5% 5%;
    	text-shadow: 0px 2px 3px #404040;
    }
    .安全性標題, .客戶關係標題, .人際關係標題, .環境社區標題, .負責信任標題, .合作關係標題 {
    	opacity: 0;
    	position: absolute;
    	z-index: 1;
    	font-family: Microsoft JhengHei;
    	font-size: 3.7rem;
    	font-weight: 800;
    	color: #404040;
    	margin: 5.5% 5%;
    	text-shadow: 0px 2px 3px #404040;
    	transition: 0.6s ease-in-out;
    }
    .area-underline {
    	border:0;
      width: 70%;
      height: 2.5px;
      margin-left: 1%;
      margin-top: 1%;
      background: #333333;
      box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 0.5);
      position: absolute;
      top: 130px;
    }
  }

  .按鈕content {
    margin: 20px 50px;
    .目標與理念按鈕 {
      min-width: 120px;
    }
  }
  .目標與理念description {
    max-width: 550px;
    letter-spacing: 3px;
     .companyName {
       color: #404040 !important;
       font-size: 1.5rem;
     }
     .目標與理念敘述 {
       font-family: Microsoft JhengHei;
       font-size: 1.1rem;
       font-weight: 800;
       color: #666;
       padding-top: 30px;
       position: absolute;
       opacity: 1;
       transition: 0.7s ease-in-out;
     }
     .安全性敘述 {
       font-family: Microsoft JhengHei;
       font-size: 1.1rem;
       font-weight: 800;
       color: #666;
       padding-top: 30px;
       position: absolute;
       opacity: 0;
       transition: 0.7s ease-in-out;
     }
     .客戶關係敘述 {
       font-family: Microsoft JhengHei;
       font-size: 1.1rem;
       font-weight: 800;
       color: #666;
       padding-top: 30px;
       position: absolute;
       opacity: 0;
       transition: 0.7s ease-in-out;
     }
     .合作關係敘述 {
       font-family: Microsoft JhengHei;
       font-size: 1.1rem;
       font-weight: 800;
       color: #666;
       padding-top: 30px;
       position: absolute;
       opacity: 0;
       transition: 0.7s ease-in-out;
     }
     .人際關係敘述 {
       font-family: Microsoft JhengHei;
       font-size: 1.1rem;
       font-weight: 800;
       color: #666;
       padding-top: 30px;
       position: absolute;
       opacity: 0;
       transition: 0.7s ease-in-out;
     }
     .環境社區敘述 {
       font-family: Microsoft JhengHei;
       font-size: 1.1rem;
       font-weight: 800;
       color: #666;
       padding-top: 30px;
       position: absolute;
       opacity: 0;
       transition: 0.7s ease-in-out;
     }
     .負責信任敘述 {
       font-family: Microsoft JhengHei;
       font-size: 1.1rem;
       font-weight: 800;
       color: #666;
       padding-top: 30px;
       position: absolute;
       opacity: 0;
       transition: 0.7s ease-in-out;
     }
   }
   .目標與理念picture {
      .安全性 {
       width: 450px;
       height: 300px;
       position: absolute;
       margin-top: 50px;
       margin-left: 80px;
       box-shadow: 0 0 10px 3px #856046;
       transition: 0.7s ease-in-out;
      }
      .客戶關係 {
       margin-top: 50px;
       margin-left: 80px;
       box-shadow: 0 0 10px 3px #856046;
       width: 450px;
       height: 300px;
       position: absolute;
       opacity: 0;
       transition: 0.7s ease-in-out;
      }
      .人際關係 {
       margin-top: 50px;
       margin-left: 80px;
       box-shadow: 0 0 10px 3px #856046;
       width: 450px;
       height: 300px;
       position: absolute;
       opacity: 0;
       transition: 0.7s ease-in-out;
      }
      .環境社區 {
       margin-top: 50px;
       margin-left: 80px;
       box-shadow: 0 0 10px 3px #856046;
       width: 450px;
       height: 300px;
       position: absolute;
       opacity: 0;
       transition: 0.7s ease-in-out;
      }
      .負責信任 {
       margin-top: 50px;
       margin-left: 80px;
       box-shadow: 0 0 10px 3px #856046;
       width: 450px;
       height: 300px;
       position: absolute;
       opacity: 0;
       transition: 0.7s ease-in-out;
      }
      .合作關係 {
       margin-top: 50px;
       margin-left: 80px;
       box-shadow: 0 0 10px 3px #856046;
       width: 450px;
       height: 300px;
       position: absolute;
       opacity: 0;
       transition: 0.7s ease-in-out;
      }
    }
}

//ipad
@media only screen and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
  {
		.table-bar-container {
			display: block !important;
		}
    .標題寬度 {
      min-width: 330px !important;
      .area-underline {
        width: 100% !important;
        top: 100px !important;
      }
      .目標與理念標題 {
        position: absolute;
        z-index: 1;
        font-family: Microsoft JhengHei;
        font-size: 3.5rem !important;
        font-weight: 800;
        color: #404040;
        margin: 3.5% 5% !important;
        text-shadow: 0px 2px 3px #404040;
      }
      .安全性標題, .客戶關係標題, .人際關係標題, .環境社區標題, .負責信任標題, .合作關係標題 {
      	opacity: 0;
      	position: absolute;
      	z-index: 1;
      	font-family: Microsoft JhengHei;
      	font-size: 3.5rem !important;
      	font-weight: 800;
      	color: #404040;
      	margin: 3.5% 5% !important;
      	text-shadow: 0px 2px 3px #404040;
      	transition: 0.6s ease-in-out;
      }
    }
    .目標與理念按鈕 {
      min-width: 110px !important;
    }
    .按鈕content {
      margin: 20px 30px !important;
    }
    .目標與理念敘述, .安全性敘述, .客戶關係敘述, .合作關係敘述, .人際關係敘述, .環境社區敘述, .負責信任敘述 {
      margin-left: 40px;
      border: none !important;
    }
    .安全性 {
    margin-top: 100px !important;
    margin-left: 25px !important;
     width: 250px !important;
     height: 200px !important;
    }
    .客戶關係 {
     margin-top: 100px !important;
     margin-left: 25px !important;
     width: 250px !important;
     height: 200px !important;
    }
    .人際關係 {
     margin-top: 100px !important;
     margin-left: 25px !important;
     width: 250px !important;
     height: 200px !important;
    }
    .環境社區 {
     margin-top: 100px !important;
     margin-left: 25px !important;
     width: 250px !important;
     height: 200px !important;
    }
    .負責信任 {
     margin-top: 100px !important;
     margin-left: 25px !important;
     width: 250px !important;
     height: 200px !important;
    }
    .合作關係 {
     margin-top: 100px !important;
     margin-left: 25px !important;
     width: 250px !important;
     height: 200px !important;
    }
    .目標與理念mobileTitle {
      width: calc(95vw);
      font-size: 2rem;
      font-weight: 800;
      text-shadow: 0px 2px 3px #404040;
      color: #404040;
    }
    .目標與理念mobilewords {
      width: calc(95vw);
      font-size: 1.2rem;
      border: 3px solid #b0a18e;
      margin: 10px 0;
      padding: 10px;
    }
    .目標與理念mobilePic {
      width: calc(95vw) !important;
      box-shadow: 0 0 10px 3px #856046;
      margin: 10px 0;
    }

}


@media only screen and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2)
  {
    .目標與理念標題1 {
      position: absolute;
      z-index: 1;
      font-family: Microsoft JhengHei;
      font-size: 3.7rem !important;
      font-weight: 800;
      color: #404040;
      margin: 0%;
      text-shadow: 0px 2px 3px #404040;
    }
    .安全性標題1, .客戶關係標題1, .人際關係標題1, .環境社區標題1, .負責信任標題1, .合作關係標題1 {
      opacity: 0;
      position: absolute;
      z-index: 1;
      font-family: Microsoft JhengHei;
      font-size: 3.7rem !important;
      font-weight: 800;
      color: #404040;
      margin: 0%;
      text-shadow: 0px 2px 3px #404040;
      transition: 0.6s ease-in-out;
    }
    .area-underline {
      display: none;
    }
    .安全性 {
     margin-top: 100px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }
    .客戶關係 {
     margin-top: 100px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }
    .人際關係 {
     margin-top: 100px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }
    .環境社區 {
     margin-top: 100px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }
    .負責信任 {
     margin-top: 100px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }
    .合作關係 {
     margin-top: 100px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }

}




//ipad pro portrait
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .目標與理念-banner {
    	background-image: url('../img/百暉首璽外觀1.jpg');
    	height: calc(100vh);
    	background-size: cover;
    	background-position: 40% 100%;
    	background-attachment: fixed;
    }
    .目標與理念description {
      max-width: 450px !important;
    }
    .安全性 {
     width: 310px !important;
     height: 200px !important;
     position: absolute;
     margin-top: 100px !important;
     margin-left: 30px !important;
     box-shadow: 0 0 10px 3px #856046;
     transition: 0.7s ease-in-out;
    }
    .客戶關係 {
     margin-top: 100px !important;
     margin-left: 30px !important;
     box-shadow: 0 0 10px 3px #856046;
     width: 310px !important;
     height: 200px !important;
     position: absolute;
     opacity: 0;
     transition: 0.7s ease-in-out;
    }
    .人際關係 {
     margin-top: 100px !important;
     margin-left: 30px !important;
     box-shadow: 0 0 10px 3px #856046;
     width: 310px !important;
     height: 200px !important;
     position: absolute;
     opacity: 0;
     transition: 0.7s ease-in-out;
    }
    .環境社區 {
     margin-top: 100px !important;
     margin-left: 30px !important;
     box-shadow: 0 0 10px 3px #856046;
     width: 310px !important;
     height: 200px !important;
     position: absolute;
     opacity: 0;
     transition: 0.7s ease-in-out;
    }
    .負責信任 {
     margin-top: 100px !important;
     margin-left: 30px !important;
     box-shadow: 0 0 10px 3px #856046;
     width: 310px !important;
     height: 200px !important;
     position: absolute;
     opacity: 0;
     transition: 0.7s ease-in-out;
    }
    .合作關係 {
     margin-top: 100px !important;
     margin-left: 30px !important;
     box-shadow: 0 0 10px 3px #856046;
     width: 310px !important;
     height: 200px !important;
     position: absolute;
     opacity: 0;
     transition: 0.7s ease-in-out;
    }
    .按鈕content {
      margin: 0px 30px !important;
      .目標與理念按鈕 {
        min-width: 130px !important;
      }
    }
    .目標與理念description {
      max-width: 550px;
      letter-spacing: 3px;
       .companyName {
         color: #404040 !important;
         font-size: 1.5rem;
       }
       .目標與理念敘述, .安全性敘述, .客戶關係敘述, .合作關係敘述, .人際關係敘述, .環境社區敘述, .負責信任敘述 {
         margin-left: 30px;
       }
     }
  }


@media only screen and (max-width: 812px) and (orientation: landscape) {
  body {
    background-color: #eee;
  }
  .table-bar-container {
    display: none !important;
  }
  .按鈕content {
    margin: 10px 0px !important;
    .目標與理念按鈕 {
      // min-width: 0px !important;
    }
  }
  .目標與理念敘述, .安全性敘述, .客戶關係敘述, .合作關係敘述, .人際關係敘述, .環境社區敘述, .負責信任敘述 {
    padding: 20px !important;
    margin: 0 20px !important;
    border: none !important;
  }
  .目標與理念mobileTitle {
    width: calc(95vw);
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 0px 2px 3px #404040;
    color: #404040;
  }
  .目標與理念mobilewords {
    width: calc(95vw);
    font-size: 1.2rem;
    border: 3px solid #b0a18e;
    margin: 10px 0;
    padding: 10px;
  }
  .目標與理念mobilePic {
    width: calc(95vw) !important;
    box-shadow: 0 0 10px 3px #856046;
    margin: 10px 0;
  }
}

@media only screen
  and (max-device-width: 812px)
  {
    body {
      background-color: #eee;
    }
    .目標與理念-banner {
    	background-image: url('../img/百暉首璽外觀1.jpg');
    	height: calc(100vh);
    	background-size: cover;
    	background-position: 30% 100%;
    	background-attachment: fixed;
      .目標與理念-banner標題 {
        position: absolute;
        z-index: 1;
        font-family: Microsoft JhengHei;
        font-size: 2.9rem !important;
        font-weight: 800;
        color: #fff;
        top: 30vh !important;
        margin-top: 0 !important;
        text-shadow: 0px 2px 3px #eee;
        text-align: center;
        padding: 10px 10px !important;
        background-color: rgba(89,89,89,0.7);
      }
    }
    .目標與理念-container {
      .目標與理念-subbanner {
        max-height: 80px !important;
      }
    }
    .標題寬度 {
      max-width: 330px !important;
      .area-underline {
        width: 90% !important;
        top: 70px !important;
      }
      .目標與理念標題1 {
        position: absolute;
        z-index: 1;
        font-family: Microsoft JhengHei;
        font-size: 3rem;
        font-weight: 800;
        color: #404040;
        margin: 0%;
        text-shadow: 0px 2px 3px #404040;
      }
      .安全性標題1, .客戶關係標題1, .人際關係標題1, .環境社區標題1, .負責信任標題1, .合作關係標題1 {
        opacity: 0;
        position: absolute;
        z-index: 1;
        font-family: Microsoft JhengHei;
        font-size: 3rem;
        font-weight: 800;
        color: #404040;
        margin: 0%;
        text-shadow: 0px 2px 3px #404040;
        transition: 0.6s ease-in-out;
      }
    }
    .目標與理念敘述, .安全性敘述, .客戶關係敘述, .合作關係敘述, .人際關係敘述, .環境社區敘述, .負責信任敘述 {
      padding: 10px !important;
      margin-right: 17px;
      border: 5px solid #856046;
    }
    .安全性 {
     margin-top: 250px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }
    .客戶關係 {
     margin-top: 250px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }
    .人際關係 {
     margin-top: 250px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }
    .環境社區 {
     margin-top: 250px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }
    .負責信任 {
     margin-top: 250px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }
    .合作關係 {
     margin-top: 250px !important;
     margin-left: 0px !important;
     padding: 0 !important;
     width: 200px !important;
     height: 200px !important;
    }
    .目標與理念mobileTitle {
      font-size: 2rem;
      font-weight: 800;
      text-shadow: 0px 2px 3px #404040;
      color: #404040;
    }
    .目標與理念mobilewords {
      font-size: 1.2rem;
      border: 3px solid #b0a18e;
      margin: 10px 0;
      padding: 10px;
    }
    .目標與理念mobilePic {
      width: calc(92vw);
      box-shadow: 0 0 10px 3px #856046;
      margin: 10px 0;
    }
    .companyName {
      color: #404040 !important;
      font-size: 1.5rem;
      font-weight: 800;
    }

}
