.關於-banner {
	background-image: url('../img/臻園外觀-2.jpg');
	height: calc(100vh);
	background-size: cover;
	background-position: 0% 100%;
	background-attachment: fixed;
  .關於馥都標題 {
  	position: absolute;
  	z-index: 1;
  	font-family: Microsoft JhengHei;
  	font-size: 3.5rem;
  	font-weight: 800;
  	color: #fff;
  	margin-top: 370px;
  	text-shadow: 0px 2px 3px #eee;
  	padding: 10px 100px;
  	background-color: rgba(89,89,89,0.7);
		text-align: center;
  }
}

//馥都飯店建設內容

.關於馥都主要內容 {
  margin-bottom: 50px;
  .bg-color {
    background-color: #e6e6e8;

    .box-shadow {
      box-shadow: 0 0 10px 3px #312c32;
      transition: 0.3s ease-in-out;
      border: 4px solid #7d4627;
    }
    .bottom-border {
      border-bottom-width: 0px;
    }
  }

  .馥都建設內容logo {
    border: 3px solid #935347;
    border-bottom-width: 1.5px;
    height: 115px;
    margin: 12px 5px 0px 12px;
    background-color: #fff;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    .馥都建設logo {
      width: 320px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: table-cell;
      vertical-align: middle
    }
  }

  .馥都飯店內容logo {
    border: 3px solid #935347;
    border-bottom-width: 1.5px;
    height: 115px;
    margin: 12px 12px 0px 5px;
    background-color: #fff;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    .馥都飯店logo {
      width: 170px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: table-cell;
      vertical-align: middle
    }
  }
  .companyDescription, .companyDescription2 {
      font-family: Microsoft JhengHei;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 20px 20px;
      margin: 0px 5px 0px 12px;
      letter-spacing: 2px;
      border: 3px solid #935347;
      border-top-width: 2px;
      // margin: 0px 5px 5px 12px;
      background-color: #e9ece5;
      box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      .companyName {
        font-family: Microsoft JhengHei;
        font-size: 1.5rem;
        font-weight: 800;
      }
    }
  .companyDescription2 {
      margin: 0px 12px 0px 5px;
  }
}


//imgtest
.imgblock {
  margin-bottom: 50px;
  .相片opacity {
    opacity: 1;
    transition: 0.6s;
  }
  .相片lowOpacity {
    opacity: 0.8;
    transition: 0.6s;
  }

  .第一排照片 {
    margin: 0 10px;
    border-radius: 5px;
    max-height: 450px;
  .第一個照片 {
      border-radius: 5px;
      max-height: 100%;
      min-width: 100%;
      box-shadow: 9px -9px 5px #856046;
  }
  .第二個照片 {
      border-radius: 5px;
      min-height: 100%;
      box-shadow: 9px -9px 5px #856046;
    }
 }

  .第二排照片 {
    margin: 0 10px;
    max-height: 450px;
    .其他照片 {
      border-radius: 5px;
      min-height: 100%;
      box-shadow: none;
    }
    .第三個照片 {
      border-radius: 5px;
      min-width: 100%;
      max-height: 100%;
      box-shadow: 9px 9px 5px #856046;
  }
}
  .第三排照片 {
    margin: 0 10px;
    .其他照片 {
      border-radius: 5px;
      min-height: 400px;
      box-shadow: 0px 9px 5px #856046;
    }
    .第四個照片 {
      border-radius: 5px;
      min-height: 400px;
      box-shadow: 9px 9px 5px #856046;
  }
}
}



//ankor
a:hover {
  text-decoration: none;
}

.聯絡我們top {
	height: 350px;
  .office百鈜空拍, .office川暉空拍, .office馥都空拍 {
  	height: 350px;
  	width: 100%;
  	opacity: 0.7;
  	position: absolute;
  }
  .office百鈜Name, .office川暉Name, .office馥都Name {
  	position: relative;
  	margin-top: 20%;
  	margin-bottom: 0%;
  	text-align: center;
  	color: #fff;
  	font-size: 2.5rem;
  	font-weight: 800;
  	font-family: Microsoft JhengHei;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  * {
    font-size: 1rem;
  }

  .相片集錦 {
    min-height: 700px !important;
    .office百鈜Name, .office川暉Name {
     font-size: 3.5rem !important;
    }
  }
}

//ipad
@media only screen and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2)
  {
}

@media only screen
  and (max-device-width: 812px)
  {
    .關於-banner {
    	background-image: url('../img/臻園外觀-2.jpg');
    	height: calc(100vh);
    	background-size: cover;
    	background-position: 0% 100%;
    	background-attachment: fixed;
      .關於馥都標題 {
      	position: absolute;
      	z-index: 1;
      	font-family: Microsoft JhengHei;
      	font-size: 2.9rem;
      	font-weight: 800;
      	color: #fff;
      	top: 30vh;
        margin-top: 0;
      	text-shadow: 0px 2px 3px #eee;
        text-align: center;
      	padding: 20px 45px;
      	background-color: rgba(89,89,89,0.7);
      }
    }
    //馥都飯店建設內容

    .關於馥都主要內容 {
      margin-bottom: 50px;
      .bg-color {
        background-color: #e6e6e8;

        .box-shadow {
          box-shadow: 0 0 10px 3px #312c32;
          transition: 0.3s ease-in-out;
          border: 4px solid #7d4627;
        }
        .bottom-border {
          border-bottom-width: 0px;
        }
      }

      .馥都建設內容logo {
        border: 3px solid #935347;
        border-bottom-width: 1.5px;
        height: 115px;
        margin: 0;
        background-color: #fff;
        box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      }

      .馥都飯店內容logo {
        border: 3px solid #935347;
        border-bottom-width: 1.5px;
        height: 115px;
        margin: 0;
        background-color: #fff;
        box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      }
      .companyDescription, .companyDescription2 {
          font-family: Microsoft JhengHei;
          font-size: 1.2rem;
          font-weight: 500;
          padding: 20px 20px;
          margin: 0;
          letter-spacing: 2px;
          border: 3px solid #935347;
          border-top-width: 2px;
          // margin: 0px 5px 5px 12px;
          background-color: #e9ece5;
          box-shadow:  0 0 10px  rgba(0,0,0,0.6);
          .companyName {
            font-family: Microsoft JhengHei;
            font-size: 1.5rem;
            font-weight: 800;
          }
        }
      .companyDescription2 {
          margin: 0;
      }
    }
    //imgtest
    .imgblock {
      padding: 0;
      .相片opacity {
        opacity: 1;
        transition: 0.6s;
      }
      .相片lowOpacity {
        opacity: 0.8;
        transition: 0.6s;
      }

      .第一排照片 {
        margin: 0;
        border-radius: 5px;
        min-height: 595.9px;
      .第一個照片 {
          border-radius: 5px;
          box-shadow: none;
          min-height: 100%;
      }
      .第二個照片 {
          border-radius: 5px;
          box-shadow: none;
          min-height: 100%;
        }
     }

      .第二排照片 {
        margin: 0;
        min-height: 700px;
        .其他照片 {
          border-radius: 5px;
          min-height: 100%;
          box-shadow: none;
        }
        .第三個照片 {
          border-radius: 5px;
          min-height: 100%;
          box-shadow: none;
      }
    }
      .第三排照片 {
        margin: 0;
        min-height: 600px;
        .其他照片 {
          border-radius: 5px;
          min-height: 100%;
          box-shadow: none;
        }
        .第四個照片 {
          border-radius: 5px;
          min-height: 100%;;
          box-shadow: none;
      }
    }
   }

   .相片集錦 {
     min-height: 700px;
   .聯絡我們top {
   	height: 350px;
     .office百鈜空拍, .office川暉空拍 {
     	height: 350px;
     	width: 100%;
     	opacity: 0.7;
     	position: relative;
     }
     .office百鈜Name, .office川暉Name {
     	position: absolute;
      width: 100%;
      bottom: 50%;
     	color: #fff;
     	font-size: 2.5rem;
     	font-weight: 800;
     	font-family: Microsoft JhengHei;
     }
   }
 }
 }
